<div class="sidemenu">
    <div class="logoname">
        <a href="/"><h1>OccasioinMate</h1></a>
        <h3 style="margin-left: 39px;">Admin Dashboard</h3>
    </div>
    <ul>
        <a href="/admin-dashboard/<%= UserID %>">
            <li><i class="fa-solid fa-gauge"></i> &nbsp; Dashboard</li>
        </a>
        <a href="/admin-dashboard/<%= UserID %>/users">
            <li><i class="fa-regular fa-calendar"></i> &nbsp; Users</li>
        </a>
        <a href="/admin-dashboard/<%= UserID %>/vendor">
            <li><i class="fa-solid fa-store"></i> &nbsp; Vendors</li>
        </a>
        <a href="/admin-dashboard/<%= UserID %>/venue">
            <li><i class="fa-solid fa-building-columns"></i> &nbsp; Venues</li>
        </a>
        <a href="/admin-dashboard/<%= UserID %>/blog">
            <li><i class="fa-solid fa-message"></i>&nbsp; Blogs</li>
        </a>
        <a href="/help/<%= UserID %>/admin">
            <li><i class="fa-solid fa-file-circle-question"></i>&nbsp; Helps</li>
        </a>
        

    </ul>
</div>