<div class="sidemenu">
    <div class="logoname">
        <a href="/"><h1>OccasioinMate</h1></a>
        <h3 style="margin-left: 39px;">User Dashboard</h3>
    </div>
    <ul>
        <a href="/user-dashboard/<%= UserID %>">
            <li><i class="fa-solid fa-gauge"></i> &nbsp; Dashboard</li>
        </a>
        <a href="/user-dashboard/<%= UserID %>/active-events">
            <li><i class="fa-regular fa-calendar"></i> &nbsp; Events</li>
        </a>
        <a href="/user-dashboard/<%= UserID %>/vendor-enquiries">
            <li><i class="fa-solid fa-store"></i> &nbsp; Vendors</li>
        </a>
        <a href="/user-dashboard/<%= UserID %>/venue-enquiries">
            <li><i class="fa-solid fa-building-columns"></i> &nbsp; Venues</li>
        </a>
        <a href="/user-dashboard/<%= UserID %>/help">
            <li><i class="fa-solid fa-question"></i> &nbsp; Help</li>
        </a>
        <a href="/user-dashboard/<%= UserID %>/settings">
            <li><i class="fa-solid fa-gears"></i> &nbsp; My Profile</li>
        </a>

    </ul>
</div>