<div class="sidemenu">
    <div class="logoname">
        <a href="/"><h1>OccasioinMate</h1></a>
        <h3 style="margin-left: 39px;">Vendor Dashboard</h3>
    </div>
    <ul>
        <a href="/vendor-dashboard/<%= VendorID %>">
            <li><i class="fa-solid fa-gauge"></i> &nbsp; Dashboard</li>
        </a>
        <a href="/vendor-dashboard/<%= VendorID %>/active-events">
            <li><i class="fa-regular fa-calendar"></i> &nbsp; Events</li>
        </a>
        <a href="/vendor-dashboard/<%= VendorID %>/customers">
            <li><i class="fa-solid fa-user"></i> &nbsp; Customers</li>
        </a>
        <a href="/vendor-dashboard/<%= VendorID %>/details">
            <li><i class="fa-solid fa-store"></i> &nbsp; Details</li>
        </a>
        <a href="/vendor-dashboard/<%= VendorID %>/help">
            <li><i class="fa-solid fa-question"></i> &nbsp; Help</li>
        </a>
        <a href="/vendor-dashboard/<%= VendorID %>/settings">
            <li><i class="fa-solid fa-gears"></i> &nbsp; My Profile</li>
        </a>

    </ul>
</div>