<div class="sidemenu">
    <div class="logoname">
        <a href="/"><h1>OccasioinMate</h1></a>
        <h3 style="margin-left: 39px;">Venue Dashboard</h3>
    </div>
    <ul>
        <a href="/venue-dashboard/<%= VenueID %>">
            <li><i class="fa-solid fa-gauge"></i> &nbsp; Dashboard</li>
        </a>
        <a href="/venue-dashboard/<%= VenueID %>/active-events">
            <li><i class="fa-regular fa-calendar"></i> &nbsp; Events</li>
        </a>
        <a href="/venue-dashboard/<%= VenueID %>/customers">
            <li><i class="fa-solid fa-user"></i> &nbsp; Customers</li>
        </a>
        <a href="/venue-dashboard/<%= VenueID %>/spaces">
            <li><i class="fa-solid fa-building-columns"></i> &nbsp; Spaces</li>
        </a>
        <a href="/venue-dashboard/<%= VenueID %>/help">
            <li><i class="fa-solid fa-question"></i> &nbsp; Help</li>
        </a>
        <a href="/venue-dashboard/<%= VenueID %>/settings">
            <li><i class="fa-solid fa-gears"></i> &nbsp; My Profile</li>
        </a>

    </ul>
</div>