<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/VendorDashboardPageStyles.css">
    <link rel="stylesheet" href="/css/dashboardStyles.css">
    <script src="https://kit.fontawesome.com/e60263fb6b.js" crossorigin="anonymous"></script>
    <!-- Friconix -->
    <script defer src="https://friconix.com/cdn/friconix.js"></script>


</head>

<body>
    <%- include("partials/vendorDashboardSidebar") -%>

        <div class="container">
            <%- include("partials/dashboardHeader") -%>

                <div class="content">
                    <div class="cards">
                        <div class="card">
                            <div class="box">
                                <h1 class="count" data-val="100">0</h1>
                                <h3>Events</h3>
                            </div>
                            <div class="iconcase">
                                <img src="/Images/events.png" alt="">
                            </div>
                        </div>
                        <div class="card">
                            <div class="box">
                                <h1 class="count" data-val="200">0</h1>
                                <h3>Enquiries</h3>
                            </div>
                            <div class="iconcase">
                                <img src="/Images/cashier.png" alt="">
                            </div>
                        </div>
                        <div class="card">
                            <div class="box">
                                <h1 class="count" data-val="100">0</h1>
                                <h3>Customers</h3>
                            </div>
                            <div class="iconcase">
                                <img src="/Images/customer-service.png" alt="">
                            </div>
                        </div>
                    </div>

                    <% if(active && enquirie) {%>
                        <div class="content2">
                            <div class="recentevents">
                                <div class="title">
                                    <h2>Active Events</h2>
                                    <a href="/vendor-dashboard/<%= VendorID %>/active-events" class="btn">View All</a>
                                </div>
                                <table>
                                    <tr>
                                        <th>Event Date</th>
                                        <th>Occasion</th>
                                        <th>City</th>
                                        <th>Customer Name</th>
                                        <th>Customer Email</th>
                                        <th>Customer Number</th>
                                        <th>Payment Status</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <%= active.eventDate %>
                                        </td>
                                        <td>
                                            <%= active.occasion %>
                                        </td>
                                        <td>
                                            <%= active.city %>
                                        </td>
                                        <td>
                                            <%= active.customerName %>
                                        </td>
                                        <td>
                                            <%= active.customerEmail %>
                                        </td>
                                        <td>
                                            <%= active.customerNumber %>
                                        </td>
                                        <td>
                                            <% if(!active.paymentStatus) {%>
                                                Pending
                                                <% } else { %>
                                                    Done
                                                    <% } %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="newevents">
                                <div class="title">
                                    <h2>Customer Enquiries</h2>
                                    <a href="/vendor-dashboard/<%= VendorID %>/customers" class="btn">View All</a>
                                </div>
                                <table>
                                    <tr>
                                        <th>Event Date</th>
                                        <th>Occasion</th>
                                        <th>City</th>
                                        <th>Customer Name</th>
                                        <th>Customer Email</th>
                                        <th>Customer Number</th>
                                        <th>Accept/Decline</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <%= enquirie.eventDate %>
                                        </td>
                                        <td>
                                            <%= enquirie.occasion %>
                                        </td>
                                        <td>
                                            <%= enquirie.city %>
                                        </td>
                                        <td>
                                            <%= enquirie.customerName %>
                                        </td>
                                        <td>
                                            <%= enquirie.customerEmail %>
                                        </td>
                                        <td>
                                            <%= enquirie.customerNumber %>
                                        </td>
                                        <td>
                                            <a href="/vendor-dashboard/<%= VendorID %>/customers/<%= enquirie.id %>/accept"
                                                class="btn">Accept</a>
                                            <a href="/vendor-dashboard/<%= VendorID %>/customers/<%= enquirie.id %>/decline"
                                                class="btn">Decline</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <% } else if(active){ %>
                            <div class="content2">
                                <div class="recentevents">
                                    <div class="title">
                                        <h2>Active Events</h2>
                                        <a href="/vendor-dashboard/<%= VendorID %>/active-events" class="btn">View
                                            All</a>
                                    </div>
                                    <table>
                                        <tr>
                                            <th>Event Date</th>
                                            <th>Occasion</th>
                                            <th>City</th>
                                            <th>Customer Name</th>
                                            <th>Customer Email</th>
                                            <th>Customer Number</th>
                                            <th>Payment Status</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <%= active.eventDate %>
                                            </td>
                                            <td>
                                                <%= active.occasion %>
                                            </td>
                                            <td>
                                                <%= active.city %>
                                            </td>
                                            <td>
                                                <%= active.customerName %>
                                            </td>
                                            <td>
                                                <%= active.customerEmail %>
                                            </td>
                                            <td>
                                                <%= active.customerNumber %>
                                            </td>
                                            <td>
                                                <% if(!active.paymentStatus) {%>
                                                    Pending
                                                    <% } else { %>
                                                        Done
                                                        <% } %>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="newevents">
                                    <div class="title">
                                        <h2>Customer Enquiries</h2>
                                        <a href="/vendor-dashboard/<%= VendorID %>/customers" class="btn">View All</a>
                                    </div>
                                    <table>
                                        <tr>
                                            <th>Event Date</th>
                                            <th>Occasion</th>
                                            <th>City</th>
                                            <th>Customer Name</th>
                                            <th>Customer Email</th>
                                            <th>Customer Number</th>
                                            <th>Accept/Decline</th>
                                        </tr>
                                        <tr>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>

                                            <td>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <% } else if(enquirie){ %>
                                <div class="content2">
                                    <div class="recentevents">
                                        <div class="title">
                                            <h2>Active Events</h2>
                                            <a href="/vendor-dashboard/<%= VendorID %>/active-events" class="btn">View
                                                All</a>
                                        </div>
                                        <table>
                                            <tr>
                                                <th>Event Date</th>
                                                <th>Occasion</th>
                                                <th>City</th>
                                                <th>Customer Name</th>
                                                <th>Customer Email</th>
                                                <th>Customer Number</th>
                                                <th>Payment Status</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="newevents">
                                        <div class="title">
                                            <h2>Customer Enquiries</h2>
                                            <a href="/vendor-dashboard/<%= VendorID %>/customers" class="btn">View
                                                All</a>
                                        </div>
                                        <table>
                                            <tr>
                                                <th>Event Date</th>
                                                <th>Occasion</th>
                                                <th>City</th>
                                                <th>Customer Name</th>
                                                <th>Customer Email</th>
                                                <th>Customer Number</th>
                                                <th>Accept/Decline</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <%= enquirie.eventDate %>
                                                </td>
                                                <td>
                                                    <%= enquirie.occasion %>
                                                </td>
                                                <td>
                                                    <%= enquirie.city %>
                                                </td>
                                                <td>
                                                    <%= enquirie.customerName %>
                                                </td>
                                                <td>
                                                    <%= enquirie.customerEmail %>
                                                </td>
                                                <td>
                                                    <%= enquirie.customerNumber %>
                                                </td>
                                                <td>
                                                    <a href="/vendor-dashboard/<%= VendorID %>/customers/<%= enquirie.id %>/accept"
                                                        class="btn">Accept</a>
                                                    <a href="/vendor-dashboard/<%= VendorID %>/customers/<%= enquirie.id %>/decline"
                                                        class="btn">Decline</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="content2">
                                        <div class="recentevents">
                                            <div class="title">
                                                <h2>Active Events</h2>
                                                <a href="/vendor-dashboard/<%= VendorID %>/active-events"
                                                    class="btn">View All</a>
                                            </div>
                                            <table>
                                                <tr>
                                                    <th>Event Date</th>
                                                    <th>Occasion</th>
                                                    <th>City</th>
                                                    <th>Customer Name</th>
                                                    <th>Customer Email</th>
                                                    <th>Customer Number</th>
                                                    <th>Payment Status</th>
                                                </tr>
                                                <tr>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="newevents">
                                            <div class="title">
                                                <h2>Customer Enquiries</h2>
                                                <a href="/vendor-dashboard/<%= VendorID %>/customers" class="btn">View
                                                    All</a>
                                            </div>
                                            <table>
                                                <tr>
                                                    <th>Event Date</th>
                                                    <th>Occasion</th>
                                                    <th>City</th>
                                                    <th>Customer Name</th>
                                                    <th>Customer Email</th>
                                                    <th>Customer Number</th>
                                                    <th>Accept/Decline</th>
                                                </tr>
                                                <tr>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <% } %>
                </div>

        </div>

        <script src="/script/VendorDashboardPageScript.js"></script>
</body>

</html>