<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/VenueDashboardEventsPageStyles.css">
    <link rel="stylesheet" href="/css/dashboardStyles.css">
    <script src="https://kit.fontawesome.com/e60263fb6b.js" crossorigin="anonymous"></script>

</head>

<body>
    <%- include("partials/venueDashboardSidebar") -%>

        <div class="container">
            <%- include("partials/dashboardHeader") -%>

                <div class="content">
                    <div class="content2">
                        <div class="recentevents">
                            <div class="title">
                                <h2>Active Events</h2>
                            </div>
                            <table>
                                <tr>
                                    <th>Venue Space</th>
                                    <th>Event Date</th>
                                    <th>Occasion</th>
                                    <th>Guest Quantity</th>
                                    <th>Budget (Per Person)</th>
                                    <th>City</th>
                                    <th>Customer Name</th>
                                    <th>Customer Email</th>
                                    <th>Customer Number</th>
                                    <th>Payment Status</th>
                                </tr>

                                <% enquiries.forEach(function(enquirie){ %>
                                    <% if(enquirie.accepted){ %>
                                        <tr>
                                            <td>
                                                <%= enquirie.space %>
                                            </td>
                                            <td>
                                                <%= enquirie.eventDate %>
                                            </td>
                                            <td>
                                                <%= enquirie.occasion %>
                                            </td>
                                            <td>
                                                <%= enquirie.guestQuantity %>
                                            </td>
                                            <td>
                                                <%= enquirie.budget %>
                                            </td>
                                            <td>
                                                <%= enquirie.city %>
                                            </td>
                                            <td>
                                                <%= enquirie.customerName %>
                                            </td>
                                            <td>
                                                <%= enquirie.customerEmail %>
                                            </td>
                                            <td>
                                                <%= enquirie.customerNumber %>
                                            </td>
                                            <td>
                                                <% if(enquirie.paymentStatus) {%>
                                                    Pending
                                                    <% } else { %>
                                                        Done
                                                        <% } %>
                                            </td>
                                        </tr>
                                        <% }}) %>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
</body>

</html>