<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/AdminDashboardEventsPageStyles.css">
    <link rel="stylesheet" href="/css/dashboardStyles.css">
    <script src="https://kit.fontawesome.com/e60263fb6b.js" crossorigin="anonymous"></script>

</head>

<body>
    <%- include("partials/admindashsidebar") -%>

        <div class="container">
            <%- include("partials/admindashheader") -%>

                <div class="content">
                    <div class="content2">
                        <div class="recentevents">
                            <div class="title">
                                <h2>Our Venues</h2>
                            </div>
                            <table>
                                <tr>
                                    <th>Venue Name</th>
                                    <th>Venue City</th>
                                    <th>Owner name</th>
                                    <th>Number</th>
                                    <th>delete</th>
                                </tr>
                                <% venue.forEach(function(ven){ %>
                                    
                                        <tr>
                                            <td>
                                                <%= ven.venue_name %>
                                            </td>
                                            <td>
                                                <%= ven.venue_city %>
                                            </td>
                                            <td>
                                                <%= ven.owner_name %>
                                            </td>
                                            <td>
                                                <%= ven.owner_number %>
                                            </td>
                                           
                                            <td>
                                                <a href="/venue/<%= ven._id %>"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                                            </td>
                                        </tr>
                                        <% }) %>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
</body>

</html>