<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/VenueDashboardCustomerPageStyles.css">
    <link rel="stylesheet" href="/css/dashboardStyles.css">
    <script src="https://kit.fontawesome.com/e60263fb6b.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="main">
        <%- include("partials/venueDashboardSidebar") -%>

            <div class="container">
                <%- include("partials/dashboardHeader") -%>

                    <!-- Event Content section Table -->
                    <div class="content">
                        <div class="content2">
                            <!-- Customer Table Section -->
                            <div class="newevents">
                                <div class="title">
                                    <h2>Customer Enquiries</h2>
                                </div>
                                <table>
                                    <tr>
                                        <th>Venue Space</th>
                                        <th>Event Date</th>
                                        <th>Occasion</th>
                                        <th>Guest Quantity</th>
                                        <th>Budget (Per Person)</th>
                                        <th>City</th>
                                        <th>Customer Name</th>
                                        <th>Customer Email</th>
                                        <th>Customer Number</th>
                                        <th>Accept/Decline</th>
                                    </tr>
                                    <% enquiries.forEach(function(enquirie){ %>
                                        <% if(!enquirie.accepted){ %>
                                            <tr>
                                                <td>
                                                    <%= enquirie.space %>
                                                </td>
                                                <td>
                                                    <%= enquirie.eventDate %>
                                                </td>
                                                <td>
                                                    <%= enquirie.occasion %>
                                                </td>
                                                <td>
                                                    <%= enquirie.guestQuantity %>
                                                </td>
                                                <td>
                                                    <%= enquirie.budget %>
                                                </td>
                                                <td>
                                                    <%= enquirie.city %>
                                                </td>
                                                <td>
                                                    <%= enquirie.customerName %>
                                                </td>
                                                <td>
                                                    <%= enquirie.customerEmail %>
                                                </td>
                                                <td>
                                                    <%= enquirie.customerNumber %>
                                                </td>
                                                <td class="accept-decline">
                                                    <a href="/venue-dashboard/<%= VenueID %>/customers/<%= enquirie.id %>/accept"
                                                        class="btn">Accept</a>
                                                    <a href="/venue-dashboard/<%= VenueID %>/customers/<%= enquirie.id %>/decline"
                                                        class="btn">Decline</a>
                                                </td>
                                            </tr>
                                            <% }}) %>
                                </table>
                            </div>

                        </div>
                    </div>

            </div>
    </div>

</body>

</html>